.add-dataset-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #314366;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-dataset-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-dataset-form .form-group {
    margin-bottom: 15px;
}

.add-dataset-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.add-dataset-form input[type="file"],
.add-dataset-form input[type="text"],
.add-dataset-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.feedback-message {
    color: #d9534f; /* Red for errors, you can change for different statuses */
    text-align: center;
    margin-top: 20px;
}
