.delete-dataset-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #314366;
}

.delete-dataset-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.input-field {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.delete-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #d9534f;
    color: white;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c9302c;
}

.message {
    margin-top: 15px;
    color: #d9534f;
}
